
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container ">
        <a class="navbar-brand" id="nav-nav" href="#">
            <img src="/image/nav.png" width="300" alt="BattleShip">
        </a>
       
        <form class="form-inline">
            <div class="input-group mb-0 text-muted d-flex justify-content-start align-items-center p-1">         
                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Логин">
                <input type="password" class="form-control" id="inputPassword" placeholder="Пароль"  aria-describedby="passwordHelpInline">
                <div class="input-group-append" id="button-addon">
                <button type="button" class="btn btn-warning">Войти</button>
                </div>
            </div>
    </form> 
    </div>
</nav>